@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
}

.sidebar {
    animation: slide-top 0.2s;
  }
  
  @keyframes slide-top {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }